.metadata/
.gradle/
.project
**/.settings
**/.project
**/.apt_generated
**/.classpath
**/.factorypath
**/.gradle
**/bin
**/build
.idea
target
**/.idea
**/target
**/.editorconfig
**/.gitkeep
**/.tern-project
**/out
**/classes