.font-custom {
    font-size: 17px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.h2-profile {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.panel-custom {
    margin-top: 150px;
}
